<form [formGroup]="racunGroup">
  <table style="width: 100%; text-align: center;">
    <tr>
      <td colspan="2" style="width: 50%">
        <b>Uplatitelj</b>
        <br>
        <button style="margin: 3px;"><mat-icon inline="true" style="font-size: 20px; width: 20px !important;" (click)="findUplatitelj()">find_in_page</mat-icon></button>
        <button style="margin: 3px;"><mat-icon inline="true" style="font-size: 20px; width: 20px !important;" (click)="add('u')">add</mat-icon></button>
      </td>
      <td colspan="2" style="width: 50%">
        <b>Primatelj</b>
        <br>
        <button style="margin: 3px;"><mat-icon inline="true" style="font-size: 20px; width: 20px !important;" (click)="findPrimatelj()">select_all</mat-icon></button>
        <button style="margin: 3px;"><mat-icon inline="true" style="font-size: 20px; width: 20px !important;" (click)="add('p')">add</mat-icon></button>
      </td>
    </tr>
    <tr *ngIf="primatelj || uplatitelj">
      <td colspan="2">
        <div *ngIf="uplatitelj">
          <p>{{uplatitelj.naziv}}</p>
          <p>{{uplatitelj.iban}}</p>
          <p>{{uplatitelj.adresa.adresa}},</p>
          <p>{{uplatitelj.adresa.grad.post}} {{uplatitelj.adresa.grad.naziv}}</p>
        </div>
      </td>
      <td colspan="2">
        <div *ngIf="primatelj">
          <p>{{primatelj.naziv}}</p>
          <p>{{primatelj.iban}}</p>
          <p>{{primatelj.adresa.adresa}},</p>
          <p>{{primatelj.adresa.grad.post}} {{primatelj.adresa.grad.naziv}}</p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="legacy">
          <mat-label>Valuta</mat-label>
          <input matInput formControlName="valuta"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="legacy">
          <mat-label>Iznos</mat-label>
          <input type="number" matInput formControlName="iznos"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="legacy">
          <mat-label>Opis</mat-label>
          <input matInput formControlName="opis"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="legacy">
          <mat-label>Poziv na broj</mat-label>
          <input matInput formControlName="poziv"/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="legacy">
          <mat-label>Model</mat-label>
          <input matInput formControlName="model"/>
        </mat-form-field>
      </td>
      <td>
        <mat-label>Šifra namjene</mat-label>
        <br>
        <b *ngIf="sifra">{{sifra.sifra}}</b>
        <br>
        <button style="margin: 3px;" (click)="findSifra()"><mat-icon inline="true" style="font-size: 20px; width: 20px !important;">select_all</mat-icon></button>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><button mat-raised-button color="primary" (click)="spremi()">Spremi</button></td>
    </tr>
  </table>
</form>
