.mat-column-rbr {
  text-align: center;
}
.mat-column-klasifikacija {
  text-align: center;
}
.mat-column-sifra {
  text-align: center;
}
.mat-column-naziv {
  text-align: center;
}
.mat-column-definicija {
  text-align: center;
}
