.mat-column-primatelj {
  width: 25%;
  text-align: center;
}
.mat-column-uplatitelj {
  width: 25%;
  text-align: center;
}
.mat-column-sifra {
  width: 25%;
  text-align: center;
}
.mat-column-svota {
  width: 25%;
  text-align: center;
}

