
.mat-column-primatelj {
  width: 25%;
  text-align: center;
}
.mat-column-uplatitelj {
  width: 25%;
  text-align: center;
}
.mat-column-sifra {
  width: 20%;
  text-align: center;
}
.mat-column-svota {
  width: 20%;
  text-align: center;
}
.mat-column-select {
  width: 10%;
  text-align: center;
  overflow: initial;
}
